body{
  background-color: var(--dark-color) !important;
}

#appli {
  color:var(--light-color) !important;
  font-family: 'Roboto','AvenirLight', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 300 !important;
  /* color: #2c3e50; */
  padding:1rem;
}

#home{
  font-size:2rem;
}

a{
  color:var(--red-color) !important;
  font-weight:500 !important;
}

a.suddle{
  color:var(--)
}

.quote{
  font-style:italic;
}

.step{
  height:70vh;
}

.step-higher{
  height:80vh;
}

:root{
  --dark-color:#444;
  --darker-color:#222;
  --light-color:#FFF;
  --pseudo-light-color:#CCC;
  --main-font:"Roboto";
  --main-font-weight:300;
  --green-color:#66CC66;
  --red-color:#FF5555;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  var(--pseudo-light-color)!important;
  font-style:italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--pseudo-light-color)!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--pseudo-light-color)!important;
}

.button{
  font-weight: 300 !important;
}

.nav.nav-pills.small{
  display:none;
}

.b-toast.b-toast-solid .toast{
  color:var(--light-color);
  font-size:100%;
  border-radius: 0px;
  padding:0.5rem;
  background-color:var(--dark-color);
  border:var(--light-color);
  border:1px solid var(--light-color);
  font-family:var(--main-font);
  font-weight:var(--main-font-weight);
}

.b-toast.b-toast-solid .toast-header{
  color:var(--light-color);
  font-weight: var(--main-font-weight) !important;
  background-color:var(--dark-color);
  font-family:var(--main-font);
}

.b-toast.b-toast-solid .toast-header .close{
  color:var(--light-color);
  opacity:0.9;
}

.b-toast.b-toast-solid .toast-header .close:hover{
  opacity:1;
}

.input-group-text{
  border-radius: 0 !important;
  /* font-weight: 300 !important; */
  background-color: var(--light-color);
  color:var(--dark-color);
  border:1px solid var(--light-color);
}

.input-group input{
  background-color: transparent;
  border:1px solid var(--light-color);
  border-radius:0 !important;
  font-weight: 300 !important;
  color:var(--light-color);
}

.input-group input:focus, .input-group input:active{
  background-color: var(--light-color);
  font-weight: 300 !important;
  color:var(--dark-color);
}

.dropdown-toggle{
  border-radius:0;
  background-color: var(--light-color);
  color: var(--dark-color);
  border:0px;
}

.dropdown.btn-group.b-dropdown{
  border:0px;
}


.modal-content{
  background-color:var(--dark-color);
  color:var(--light-color);
  border-radius:0;
  border:1px solid var(--light-color);
  font-weight:300;
}

.modal-header .close{
  color:var(--light-color);
  opacity:0.9;
}

.modal-header .close:hover{
  opacity:1;
}


.title.banner{
  background-color: var(--light-color);
  color:var(--dark-color);
}
.banner{
  margin-bottom:2rem;
}
.website_title{
  font-size: 200%;
  text-align: left;
}
.subtitle{
  font-style: italic;
  font-size:50%;
}

.side-frame{
  height:100px;
  background-color: var(--light-color);
  color:var(--dark-color);
  font-weight: 400;
  margin-bottom:0.5rem;
}

.side-frame.secondary{
  font-size: 90%;
  padding:1rem;
  height:auto;
  background-color: var(--dark-color);
  color:var(--light-color);
  font-weight:300;
  border:1px solid var(--light-color);
  text-align: justify;
}

.outer{
  border:1px solid var(--light-color);
  min-height:95vh;
}
